# macOS
.DS_Store

#node_modules
node_modules/

# pras minhas keys dps
.env


# backend private data
backend/data/*.private.js
backend/data/*.private.json
backend/data/applications.seed.js

# private scripts
backend/testJobAnalysis.js
